[submodule "lib/sbpl"]
	path = lib/sbpl
	url = https://github.com/sbpl/sbpl.git
[submodule "lib/cpprestsdk"]
	path = lib/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "gcc48"]
	path = gcc48
	url = https://aur.archlinux.org/gcc48.git
[submodule "lib/gcc48"]
	path = lib/gcc48
	url = https://aur.archlinux.org/gcc48.git
